<%= div_for product, class: 'col-md-4' do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= product.title %>
      <span class="badge pull-right"><%= product.price %></span>
    </div>
    <div class="panel-body">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Left</button>
        <button type="button" class="btn btn-default">Middle</button>
        <button type="button" class="btn btn-default">Right</button>
      </div>
    </div>
  </div>
<% end %>
